<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BaroFarm</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{css/UserMain.css}">
<body>
	<header th:replace="~{UserLayout::header}"></header>
	<nav th:replace="~{UserLayout::nav}"></nav>
	<main>
		<div class="mainImg">
			<img src="/img/밭1.jpg" alt="메인사진" class="mainImg">
		</div>
		<div class="m1">
			<div class="m1_div1">
				<span>Fruit</span>
				<!-- <img alt="사과" th:src="@{img/사과.png}" class="m1_div1_img"> -->
			</div>
			<div class="m1_div2">
				<span>Grain</span>
				<img alt="" src="">
			</div>
			<div class="m1_div3">
				<span>Fish</span>
				<img alt="" src="">
			</div>
			<div class="m1_div4">
				<span>Meat</span>
				<img alt="" src="">
			</div>
		</div>
		<div class="m2">
			<span>설명..</span>
		</div>
		<div class="m3">
			<img alt="농부" th:src="@{img/농부1.jpg}" class="m3_img">
		</div>
		<div class="m4"><div class="m4_div"></div><img alt="" th:src="@{img/농부2.jpg}"class="m4_img"></div>
	</main>
</body>
</html>
