<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 전체보기</title>
</head>
<link rel="stylesheet" type="text/css" th:href="@{css/UserProduct.css}">
<body>
	<header th:replace="~{UserLayout::header}"></header>
	<nav th:replace="~{UserLayout::nav}"></nav>
	<main>
		<div class="m1">
			<div><span class="title">농산물</span></div>
			<div class="m1_a">
				<span><a href=#>과일 |</a></span>
				<span><a href=#>채소 |</a></span>
				<span><a href=#>쌀/잡곡</a></span>
			</div>
		</div>
		<div class="m2">
			<div class="grid">1</div>
			<div class="grid2">2</div>
			<div class="grid">3</div>
			<div class="grid4">4</div>
			<div class="grid">5</div>
			<div class="grid6">6</div>
			<div class="grid">7</div>
			<div class="grid8">8</div>
			<div class="grid">9</div>
		</div>
	</main>
</body>
</html>
